# ctags file
*ctags
*tags

# test file
*/test.tr

# binary file
*.mexa64
*.o
mf-predict
mf-train

# data
data/*
tr
va
*.tr
*.va
*.te
*.trva
*.model
*.csv
*.png

# log
libmf/log
libmf_matlab/log

# tmp
*.swp
.ipynb_checkpoints

